@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
.bodyBar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.bodyBar-mobile{

}

.menuBar{
    width: 221px;
    margin-left: 57px;
    margin-right: 32px;
    margin-top: 163px;
}

.calend{
    position: relative;
    background: url("../images/Календарь.svg");
    background-size: cover;
    width: 236px;
    height: 229px;
    margin-bottom: 7px;
}

.menuButton{
    font-family: 'Plus Jakarta Sans';
    color: #4C4C4C;
    display: flex;
    align-items: center;
    border-radius: 40px;
    width: 190px;
    height: 40px;
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1em;
    border: 0px solid #E8E8E8;
}

.menuButton-mobile{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    background: none;
    color: #FFFFFF;
}


.currentMenuIcon{
    width: 25px;
    height: 25px;
    margin-left: 19px;
    margin-right: 14px;
    margin-top: 5px;
    color: #5FC56E;
}

.currentMenuIcon-mobile{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}

