.card{
    display: flex;
    align-items: center;
    width: 337px;
    height: 73px;
    background: #FFFFFF;
    border-radius: 32px;
    margin-left: 12px;
    margin-top: 19px;
    padding-left: 96px;
    font-size: 20px;
}

.cardImg{
    background: url("../images/card.svg");
    background-size: cover;
    height: 32px;
    width: 28px;
    background-repeat: no-repeat;
}

.openCardImg{
    background: url("../images/openCard.svg");
    background-size: cover;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 32px;
    float: right;
    left: 159px;
}

.openCardImgBackground{
    padding-right: 64px;
}

.cardImgBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9DC55F;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 32px;
    left: 37px;
    bottom: 62px;
}
.openCard{
    width: 336px;
    background-color: white;
    height: auto;
    min-height: 300px;
    position: relative;
    top: -47px;
    left: 14px;
}