.mainBar{
    position: relative;
    top: -15px;
    background: #E8E8E8;
    height: 103%;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    padding-bottom: 0px;
}

.infoLine{
    font-size: 26px;
    color: #4C4C4C;
    padding-top: 24px;
    padding-left: 40px;
    font-weight: 700;
}

.itemsCard{
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: auto;
    max-height: 500px;

}

.itemsCard::-webkit-scrollbar {
    width: 0;
}

.itemCardBar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}